<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nearest injury register</title>
  </head>
  <body>
    <h1>Welcome to Nearest injury</h1>
    <p>
      <b>Activation token:</b> 
      {{.Token}}
    </p>
  </body>
</html>
