<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New password</title>
  </head>
  <body>
    <h1>Nearest injury new password</h1>
    <p>
      <b>Your new password: </b>
      {{.Password}}
    </p>
  </body>
</html>
